
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Debug/debug/main.o
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Debug/debug/mainwindow.o
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Debug/debug/moc_mainwindow.cpp
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Debug/debug/moc_mainwindow.o
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Debug/debug/SerialNetGateway.exe
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Debug/Makefile
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Debug/Makefile.Debug
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Debug/Makefile.Release
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Debug/ui_mainwindow.h
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Debug/debug/agent.o
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Debug/debug/moc_agent.cpp
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Debug/debug/moc_agent.o
SerialNetGateway/SerialNetGateway.pro.user
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Release/Makefile
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Release/Makefile.Debug
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Release/Makefile.Release
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Release/release/agent.o
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Release/release/main.o
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Release/release/mainwindow.o
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Release/release/moc_agent.cpp
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Release/release/moc_agent.o
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Release/release/moc_mainwindow.cpp
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Release/release/moc_mainwindow.o
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Release/release/SerialNetGateway.exe
build-SerialNetGateway-Desktop_Qt_5_6_3_MinGW_32bit-Release/ui_mainwindow.h
